@model IEnumerable<MovieBase.Models.MovieDb>
@{
    ViewBag.Title = "Home Page";
}
<table class="table">
    <ul class="ThreeColumnsCoversList">
        @foreach (var item in Model)
        {
        <li>

                <div>@Html.DisplayFor(modelItem => item.Title)</div>
                <div><img src="~/Content/Images/@item.PictureLink" height="150" width="120" /></div>
                <div style="margin-left:5px">
                    @{
                        for (int i = 0; i < item.Stars; i++)
                        {
                            <img src="~/Content/Images/star.png" height="20" width="17" />
                        }
                    }
                </div>
                <div>@Html.DisplayFor(modelItem => item.Stars)</div>

                <div>@Html.DisplayFor(modelItem => item.Link)</div>

        </li>
        }
    </ul>
    </table>